/* Home page specific styles */
main {
    padding: 2rem 15rem;
    border-left: 0.5px solid #435E52;
    border-right: 0.5px solid #435E52;
}

#intro {
    padding-top: 2rem;
}

@media (max-width: 768px) {
    main {
        padding: 1.5rem;
        border-left: none;
        border-right: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    main {
        padding: 2rem 5rem;
    }
}
