body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #051620;
}

header {
    background: #051620;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-bottom: 0.5px solid #435E52;
}

nav {
    display: flex;
    gap: 1rem;
}

.nav-btn {
    color: white;
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
    display: inline-block;
}

.nav-btn:hover {
    color: #73AF6F;
    transform: scale(1.1);
}

main {
    color: #fff;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 3rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #4a9eff;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
}

footer {
    background: #051620;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}
